[Unit]
Description=Promtail Loki Agent
Documentation=https://github.com/grafana/loki
After=loki.service

[Service]
Type=simple
User=root
ExecStart={{ loki_path }}/loki -config.file {{ loki_path }}/promtail-local-config.yaml
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment=SYSTEMD_LOG_LEVEL=debug

[Install]
WantedBy=multi-user.target

